spring:
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:file:./db/bankcards
    username: local
    password: pass
    driverClassName: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: validate
  liquibase:
    change-log: classpath:/db/migration/changelog-main.xml
    enabled: true

logging:
  level:
    org:
      springframework:
        security:
          web: DEBUG
